
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    
    color: #fff;
}


.admin-container {
    background-color: #b1c9cf;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.admin-card {
    background: #ffffff;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.admin-header h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.admin-header p {
    font-size: 14px;
    color: #555;
}


.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #4e73df;
}


.btn-signup {
    background: #4e73df;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-signup:hover {
    background: #224abe;
}
