<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="/images/logo.jpeg" alt="logo" class="footer-logo">
      <p>CrowdFund<br>RVCE</p>
    </div>
    <div class="footer-center">
      <p class="footer-title">Follow us on</p>
      <div class="footer-icons">
        <a href="https://facebook.com" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://linkedin.com" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <ul class="footer-links">
        <li><a href="https://www.rvce.edu.in/">RVCE</a></li>
      </ul>
    </div>
    <div class="footer-right">
      <p>Designed and Developed By<br><br>Mahammad Rizwan<br>Arun<br>Mallikarjun</p>
      <br>
      <p>For any queries, reach out to us at<br>
        <a href="crowdfund@rvce.edu.in">crowdfund@rvce.edu.in</a>
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © 2021 CSE-CY students. All Rights Reserved.</p>
  </div>
</footer>
